body{
background: linear-gradient(325deg, #EEAECA 0%, #94BBE9 70%, #CFA6FF 100%);
}
header{
   background: linear-gradient(135deg, #FF9A9E 0%, #FAD0C4 100%);
    min-height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    padding: 20px;
}
header::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 90%;
    filter: saturate(0);
    opacity: 0.2;

}
.header-content{
    max-width: 700px;
    padding: 80px 20px;
    text-align: center;
    z-index: 2;
}
.header-content img{
    width: 80%;
    height: auto;
    margin-bottom: 20px;
}
.header-content p{
    margin: 30px 0 50px;
    font-size: 1.2em;
    line-height: 1.6em;
}
main{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    margin: 0;
}
section{
    display: flex;
    justify-content: space-between;
    margin-bottom: 95px;
    padding: 0 20px;
    flex-wrap: wrap;
}

.container{
    max-width: 1200px;

}
#huntrix{
    margin-top: 95px;
    margin-bottom: 50px;
    text-align: center;
}
#huntrix .section-texts{
    min-width: 250px;
    width: 50%;
}
#huntrix .section-texts h2{
    font-size: 2.5em;
    margin-bottom: 20px;
    max-width: 600px;

}
#huntrix .section-texts p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.6em;
    max-width: 600px;
    position: relative;
}
#huntrix .poster{
    width: 380px;
    height: 500px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-shrink: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#saja-boys{
    margin-top: 95px;
    margin-bottom: 50px;
    text-align: center;
    flex-direction: row-reverse;
}

#saja-boys .poster-saja{
    width: 380px;
    height: 500px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-shrink: 0;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}
#saja-boys .section-texts-saja{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.6em;
    max-width: 600px;
    position: relative;
}
#section-trailer{
    margin-top: 95px;
    margin-bottom: 50px;
    text-align: center;
    flex-direction: row;
}

#section-trailer p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.6em;
    max-width: 600px;
    position: relative;
    justify-content: center;
    align-items: center;
}
#section-trailer .video-frame iframe{
    background: linear-gradient(135deg, #FF9A9E 0%, #FAD0C4 100%);
    position: relative;
    bottom: 24px;
    left: 24px;
    border: 2px solid;
    border-image: linear-gradient(135deg, #FF9A9E 0%, #FAD0C4 100%)  ;
    border-image-slice: 10000;
}
#section-gallery h2{
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
    color: darkviolet;
}
#section-gallery .gallery-container{
   display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}
#section-gallery .gallery-image{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    flex-direction: row;
}
#section-gallery .gallery-container img{
     width: 250px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}
#tunes{
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
}
#tunes h2{
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
    color: deeppink;
}
#tunes p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.6em;
    max-width: 600px;
    position: relative;
    margin-bottom: 30px;
}
#tunes .musics{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin: 0% auto;
}